---
layout: default
title: R.Matsushita web page
section: home
root: ""
---
<div class="container-fluid text-center">
  <div class="row g-4">
    <section class="col-lg-8" aria-label="主要コンテンツ">
      <div class="row g-4 home-links">
        {% for item in site.data.navigation %}
          {% if item.show_on_home %}
            <div class="col-12 col-md-6">
              <div class="home-link-card">
                <h3>
                  <a
                    class="link-light link-offset-1 link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                    href="{{ item.path }}"
                  >{{ item.label }}</a>
                </h3>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <section class="news-section" aria-labelledby="news-heading">
        <h2 id="news-heading" class="page-heading">News</h2>
        <div class="table-responsive news-table-container">
          <table class="table table-hover align-middle">
            <tbody>
              {% for item in site.data.news %}
                <tr>
                  <td class="news-date"><time datetime="{{ item.date }}">{{ item.display_date }}</time></td>
                  <td>{{ item.text }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </section>

    <aside class="col-lg-4 profile-column" aria-label="プロフィール">
      <div class="profile-card">
        <img
          src="{{ site.data.profile.image }}"
          width="600"
          height="450"
          class="profile-image img-fluid rounded"
          alt="{{ site.data.profile.image_alt }}"
        >
        <h2 class="profile-name">{{ site.data.profile.name_ja }}<br>{{ site.data.profile.name_en }}</h2>
        <dl class="profile-details">
          <div class="profile-detail-row">
            <dt>Position</dt>
            <dd>{{ site.data.profile.position }}<br>({{ site.data.profile.institution }})</dd>
          </div>
          <div class="profile-detail-row">
            <dt>E-mail</dt>
            <dd>{{ site.data.profile.email }}</dd>
          </div>
          <div class="profile-detail-row">
            <dt>Address</dt>
            <dd>{{ site.data.profile.postal_code }}<br>{{ site.data.profile.address }}<br>{{ site.data.profile.room }}</dd>
          </div>
        </dl>
      </div>
    </aside>
  </div>
</div>
