---
layout: default
title: R.Matsushita web page - CV
section: cv
root: "../"
active_href: "./index.html"
---
            <h2 style="color: #008899;">Curriculum Vitae</h2>
            <p class="lead">
                これまでの人生
            </p>
            <!-- Educations -->
            <h3 class="list-title">Education</h3>
            <table class="table table-hover" style="max-width: 700px; text-align: left;">
                <thead>
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for item in site.data.cv.education %}
                    <tr>
                        <td><time datetime="{{ item.start }}">{{ item.start }}</time> - {% if item.end %}<time datetime="{{ item.end }}">{{ item.end }}</time>{% else %}{{ item.end_label }}{% endif %}</td>
                        <td>{{ item.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Jobs -->
            <h3 class="list-title">Job</h3>
            <table class="table table-hover" style="max-width: 700px; text-align: left;">
                <thead>
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for item in site.data.cv.jobs %}
                    <tr>
                        <td><time datetime="{{ item.start }}">{{ item.start }}</time> - {% if item.end %}<time datetime="{{ item.end }}">{{ item.end }}</time>{% else %}{{ item.end_label }}{% endif %}</td>
                        <td>{{ item.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Awards -->
            <h3 class="list-title">Award</h3>
            <table class="table table-hover" style="max-width: 700px; text-align: left;">
                <thead>
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for item in site.data.cv.awards %}
                    <tr>
                        <td>{% if item.year != "" %}<time datetime="{{ item.year }}">{{ item.year }}</time>{% endif %}</td>
                        <td>
                            <a class="pub-link" href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
                                {{ item.title }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
