<!DOCTYPE html>
<html class="ja" lang="ja">

    <!-- head -->
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if page.keywords %}<meta name="keyword" content="{{ page.keywords }}">{% endif %}
        <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        
        <!-- Style sheet -->
        <link href="{% if page.section == 'home' %}styles/style.css{% else %}{{ page.root }}styles/style.css{% endif %}" rel="stylesheet" >

        <!-- Google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&amp;display=swap" rel="stylesheet">

        <!-- Title -->
        <title>{{ page.title }}</title>
    </head>

    <body>

        <!-- Header -->
        {% include header.html %}

        <!-- Google tag (gtag.js) -->
        {% include analytics.html %}

        <!-- body -->
        <main class="{{ page.main_class | default: 'container-fluid' }}">
{{ content }}
        </main>

        <!-- Footer -->
        {% include footer.html %}

        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
        </script>
    </body>

</html>
