---
layout: default
title: R.Matsushita web page - Publications/Talks
section: publications
root: "../"
active_href: "./index.html"
---
            <h2 style="color: #008899;">Publications</h2>
            <!-- Paper -->
            <h3 class="list-title">Papers</h3>
            {% include publication-table.html items=site.data.publications.papers %}
            <!-- Talk -->
            <h3 class="list-title">Presentations (Oral)</h3>
            {% include publication-table.html items=site.data.publications.oral %}
            <!-- Poster -->
            <h3 class="list-title">Presentations (Poster)</h3>
            {% include publication-table.html items=site.data.publications.poster %}
