---
layout: default
title: R.Matsushita web page - Publications/Talks
section: publications
root: "../"
---
<div class="container-fluid">
  <h2 class="page-heading">Publications</h2>

  <section aria-labelledby="papers-heading">
    <h3 id="papers-heading" class="list-title">Papers</h3>
    {% include publication-table.html items=site.data.publications.papers %}
  </section>

  <section aria-labelledby="oral-heading">
    <h3 id="oral-heading" class="list-title">Presentations (Oral)</h3>
    {% include publication-table.html items=site.data.publications.oral %}
  </section>

  <section aria-labelledby="poster-heading">
    <h3 id="poster-heading" class="list-title">Presentations (Poster)</h3>
    {% include publication-table.html items=site.data.publications.poster %}
  </section>
</div>
